.rejillaGrid {
    display: grid;
    background-color: yellow;
    grid-template-columns: 1fr 1fr; /* Con esto le indicamos 2 columnas en fracciones */
    grid-template-rows: 100px 100px 100px 100px; /* Con esto le indicamos 4 filas */
    grid-gap: 20px 10px; /* Es como ponerle margin al row y al column */
    /* 
        grid-row-gap: 10px;
        grid-column-gap: 20px;
    Es otra forma de poner los gap */

    /*
        grid-gap: 20px;  Aplica tanto a filas como columnas.
    */

    grid-auto-rows: 100px;  /* Si ponemos mas filas y no estan definidas se autocompletan y podemos ponerle un tamaño a esas filas */
    grid-auto-columns: 50px; /* Con las columnas pasa lo mismo */
}

.rejillaGrid > p {
    margin: 0;
    background-color: orange;
    border: 1px solid black;
}

.rejillaGrid p:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
}

.rejillaGrid p:nth-child(2) {
    grid-column: 2;
    grid-row: 4;
}

.rejillaGrid p:nth-child(3) {
    grid-column-start: 2; /* Se puede poner grid-column: 1 / 3 para formato corto. Lo mismo con grid row */
    grid-column-end: 3;  /* Hasta la columna 3 porque es hasta la tercera linea */
    grid-row-start: 2;
    grid-row-end: 3;
    /*
    grid-column-start: 2; 
    grid-column-end: span 1;  Con span se le suma uno (columna o fila, tomando como referencia el numero del start) y tambien se puede utilizar el formato corto 2 / span 1
    grid-row-start: 2;
    grid-row-end: span 1;
    */
}

.rejillaGrid p:nth-child(4) {
    grid-column: 4; /* Al poner una columna que no existe se autogeneran columnas */
    grid-row: 3;
}