.holyGrail {
    background-color: yellow;
    display: grid;
    grid-template-columns: [inicio] 1fr [medio] 1fr [fin]; /* Se le puede poner nombres a las lineas */
    grid-template-rows: 1fr 1fr 1fr 1fr;  /* Se puede poner a traves de la funcion repeat(4, 1fr) */
    grid-gap: 20px;
    grid-template-areas:    "header header" 
                            "aside nav"
                            "aside article"
                            "footer footer";  /* Aqui montas la estructura de la pagina con el nombre que tu quieras*/
}

header, nav, aside, article, footer {
    background-color: orange;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}
  /* Luego le asignas el area a cada uno */