p {
  background-color: pink;
}
/* p:nth-child(2) {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
}
p:nth-child(3) {
  width: 150px;
  margin-left: auto;
  margin-right: 0px;
} */
h2 {
  position: sticky;
  top: 0;
  background-color: yellow;
}