.cabecera {
  position: relative;
}
.cabecera img {
  width: 100%;
  display: block;
}
.cabecera div {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0 2px 5px black;
}
.cabecera h1,
.cabecera p {
  margin: 0;
}

.tooltip {
  background-color: pink;
  position: relative;
}
.tooltip span {
  background-color: yellow;
  display: none;
}
.tooltip:hover span {
  display: inline;
  position: absolute;
  bottom: 100%;
  left: 0;
  box-shadow: 0 5px 5px black;
}