:root {
  --color-negativo: white;
  --color-principal: brown;
  --color-secundario: green;

  --color-texto: black;
  --color-fondo: white;

  --texto-grande: 30px;
  --texto-pequeño: 20px;
  --texto-superpequeño: 10px;

  --tipografia: Arial, sans-serif;

  --titulos: bold var(--texto-grande) var(--tipografia);
}