@import "variables-globales.css";

.seccion {
  background: var(--color-fondo);
  color: var(--color-texto);
}

.dark-mode {
  --color-fondo: black;
  --color-texto: white;
  --color-negativo: pink;
  --color-principal: yellow;
}

.article {
  color: var(--color-principal);
}

.article h1 {
  color: var(--color-secundario);
  font: var(--titulos);
}
.article h2 {
  font-size: var(--texto-pequeño);
}
.article p,
aside {
  font-size: var(--texto-superpequeño);
}

.article section {
  border: solid 1px var(--color-secundario);
  padding: 2em;
  box-shadow: -5px 5px 0 var(--color-principal);
}

aside {
  color: var(--color-principal, red);
}


.cta {
  --color-texto: var(--color-negativo);
  --color-fondo: var(--color-principal);
  --color-fondo-hover: black;

  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  padding: 1em;
  border-radius: 10px;
  display: inline-block;
}
.cta:hover {
  background-color: var(--color-fondo-hover);
}

.cta.secundario {
  --color-texto: var(--color-principal);
  --color-fondo: var(--color-negativo);
  --color-fondo-hover: var(--color-secundario);
}