@import './reset.css';

* {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url('../imgs/fondoCalculadora.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

div.cajaForm {
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    font-size: medium;
}

.cajaInputs > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.cajaInputs > label:nth-child(3) {
    align-self: center;
}

input[type="text"] {
    padding: 0.5rem 2rem;
}

div.botones button {
    width: 60%;
    padding: 0.5rem 1rem;
    font-size: medium;
}

span.titleInput {
    margin-bottom: 0.5rem;
}

div.resultFinal {
    padding: 1.5rem 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
    border: 1px dashed #000;
}

div.botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}