.degradado {
  width: 1000px;
  height: 400px;
  border: solid 2px black;
  background-color: blue;
  background-image: linear-gradient(to right, rgba(255,0,0,0.6) 50%, yellow 75%, #00EDFF 100%);
  background-repeat: no-repeat;
}

.fondo {
  background-color: pink;
  background-image: url("./ilustracion.png"), linear-gradient(blue, red);
  background-repeat: repeat-x, no-repeat;
  background-size: 500px auto, cover;
  background-position: center bottom, center top;
  background-blend-mode: multiply;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 600px;
}

.imagen {
  border: solid 2px #293b78;
  background-color: #293b78;
  width: 500px;
  color: white;
  font-size: 2em;
  background-image: url("./ilustracion.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: right bottom;
  box-shadow: 0 0 20px 20px black, inset 0 0 20px 40px black;
  text-shadow: 5px 5px 0 red, -5px -5px 0 yellow;
}
.imagen:hover {
  background-size: 60% auto;
}
.imagen img {
  width: 100%;
}
.imagen figcaption {
  padding: 2em;
  max-width: 50%;
}