.seccion {
  /* perspective: 500px; */
}
.title {
  background-color: pink;
  width: max-content;
  /* transform-origin: left top; */
  /* transform: rotateY(89deg) translateZ(100px) scaleZ(2); */
  transform: translateY(100%);
}
p {
  background-color: yellow;
}