* {
  box-sizing: border-box;
}
strong {
  background-color: white;
  padding: 4px;
  border: solid 4px green;
  margin: 20px;
  width: 200px;
}
img {
  width: 100px;
  display: inline;
  margin: 20px;
}

.caja {
  background-color: red;
  border-width: 10px;
  border-color: green;
  border-style: solid;
  padding: 20px;
  box-sizing: content-box;
  margin: 10px;
  line-height: 25px;
}
.caja2 {
  background-color: blue;
  width: 200px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  color: white;
}
