html {
  font-family: Arial, sans-serif;
}

.cv {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cabecera {
  background-color: #5b9cd6;
  color: white;
  padding: 40px;
}

.summary {
  background-color: pink;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
}
address {
  font-style: normal;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

h2 {
  border-bottom: 1px solid black;
}

