.formulario-comentario {
  background-color: lightgray;
  padding: 10px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.3em;
  border: solid 2px black;
  background: white;
  -webkit-appearance: none;
  border-radius: 8px;
  border-top-right-radius: 0;
}

.button {
  background-color: blue;
  color: white;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 8px;
  margin: auto;
}

.form-footer {
  text-align: center;
}