* {
    box-sizing: border-box; /* Por defecto todos los bloques tienen content-box y por eso en los tamaños cuentan 
                                los margin, borders y paddings */
}

body {
    margin: auto;
    width: 1200px;
}

.caja1 {
    width: 300px;
    background-color: red;
    margin-bottom: 30px;
    padding: 15px;
    border: 3px solid black;
    float: left;
}

.caja2 {
    width: 250px;
    height: 350px;
    background-color: blue;
    padding: 20px;
    border: 3px solid black;
    float: right;
    color: white;
}