.degradado {
    width: 1000px;
    height: 400px;
    border: 2px solid black;
    background-color: blue;
    background-image: linear-gradient(180deg, blue 50%, red 100%);
    background-repeat: no-repeat;
}
.fondo {
    background-color: pink;
    background-image: url("./telescopio.png"), linear-gradient(blue, red);
    background-repeat: repeat-x, no-repeat;
    background-size: 500px auto, cover;
    background-position: center bottom, center top;
    background-blend-mode: multiply; /* Son filtros a la imagen */

    border: 2px solid black;
    height: 600px;
}

.imagen {
    border: 2px solid #293b78;
    background-color: #c5cff4;
    width: 500px;
    color: white;
    font-size: 2em;

    box-shadow: inset 5px 5px 10px 20px black; /* (horizontal vertical difuminacion expansion color). Con inset se alpica hacia dentro la sombra. Se puede poner mas sombras.*/
    text-shadow: 5px 5px 10px red; /* La diferencia es que no tiene la opcion de expansion */
}

.imagen img {
    width: 100%;
}

.imagen figcaption {
    padding: 2em;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}