.padre {
    perspective: 500px; /* Siempre tiene que ir en el elemento padre */
}
h1 {
    background-color: pink;
    width: max-content;
/*     transform: scale(0.5, 0.5); */
/*     transform: rotate(-180deg); */
/*     transform: translate(100px, 200px); */
/*     transform: skew(10deg); */
    transform-origin: left top;
    transform: translateZ(300px) translateY(300px) translateZ(-600px) ;
}