@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-text: #858585;
  --color-white: #fff;
  --color-grey: #ebebeb;
  --color-foreground: #000;
  --color-background: #faf8f5;
  --color-primary: #6ece9d;
  --color-primary-hover: #91dab4;
  --font-family: 'Inter', sans-serif;
  --border-radius: 8px;

  --font-size-xbig: 96px;
  --font-size-big: 64px;
  --font-size-medium: 32px;
  --font-size-normal: 22px;
}