@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*-- PC --*/

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

p {
    line-height: 1.2em;
}

.mainHeader {
    background-color: black;
    color: white;
    padding: 2em;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 0.3em;
}

h3 {
    font-weight: 700;
    font-size: 25px;
    border-bottom: 3px solid grey;
    color: grey;
    padding-bottom: 0.5em;
}

.mainArticle {
    width: 50%;
    margin: auto;
    padding: 1.5em 0em;
}

.info {
    margin-bottom: 3em;
}

.info > figure {
    overflow: hidden;
    float: right;
    width: 40%;
    margin-left: 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.info img {
    width: 100%;
}

.info > p:nth-child(3) {
    margin: 1.5em 0em;
}

form {
    padding: 1.5em 0em;
}

form label,
form label input,
form label textarea {
    width: 100%;
}

form label input,
form label textarea {
    margin-top: 0.8em;
    margin-bottom: 1.2em;
    background-color: grey;
    border: 0px;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.txForm {
    color: black;
    margin-bottom: 1em;
    font-weight: 700;
}

button[type='submit'] {
    background-color: black;
    color: white;
    border: 0px;
    padding: 0.5em 2em;
}

/*-- MOVIL --*/

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .mainHeader {
        text-align: center;
    }

    .mainArticle {
        width: 85%;
    }

    .info > figure {
        width: 100%;
    }
}
