@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/*-- HEADER --*/

.mainContent {
    width: 100vw;
    height: 100vh;
    background-color: #f2a54a;
}

.mainContent > header {
    padding: 4em 0em;
}

h1 {
    color: #fff;
    font-size: 96px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

/*-- BLOQUE TEAM--*/

.bloqueTeam {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.bloqueTeam > div {
    max-width: 30%;
    box-shadow: 0px 0px 10px 0px #383838;
    transition: transform 0.3s ease;
}

.bloqueTeam > div:hover {
    transform: scale(1.1);
}

.bloqueTeam_Perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #fff;
    padding: 1.5em;
}

.bloqueTeam_Perfil > figure {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
}

.bloqueTeam_Perfil > figure img {
    width: 100%;
}

.bloqueTeam_Perfil > h3 {
    color: #000;
    font-weight: 700;
    margin: 1.2em 0em;
    font-size: 20px;
}

.bloqueTeam_Perfil_RRSS > li {
    display: inline-block;
    margin-right: 5px;
}

.bloqueTeam_Perfil_RRSS > li:last-child {
    margin-right: 0px;
}

.bloqueTeam_Perfil_RRSS i {
    background-color: #6f6f6f;
    color: #fff;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
}

.bloqueTeam_Perfil_Descp {
    width: 100%;
    background-color: #7000ff;
    color: #fff;
    padding: 1.5em;
}

.bloqueTeam_Perfil_Descp > p {
    line-height: 1.2em;
}

.bloqueTeam_Perfil_Descp > p:nth-child(1) {
    margin-bottom: 1.5em;
}

/*-- ANIMACION OPACITY--*/

@keyframes animOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    animation: animOpacity 1s ease 1s;
    animation-fill-mode: both;
}

.bloqueTeam > div:nth-child(1) {
    animation: animOpacity 1s ease 2s;
    animation-fill-mode: both;
}

.bloqueTeam > div:nth-child(2) {
    animation: animOpacity 1s ease 3s;
    animation-fill-mode: both;
}

.bloqueTeam > div:nth-child(3) {
    animation: animOpacity 1s ease 4s;
    animation-fill-mode: both;
}
