/* Los corchetes es para seleccionar por atributo html */

a[href^="https" i] {
    background-color: lightsalmon;
}

/* Con ^ seleccionamos los a con los href cuyo contenido empiece por https 
    La i del final es para distinguir de mayúsculas y minúsculas */

a[href*="google"] {
    color: black;
    font-weight: 700;
}

/* Con * seleccionamos los a con los href cuyo contenido contenga google */


a[href$="css"] {
    font-style: italic;
    font-weight: 900;
}

/* Con ^ seleccionamos los a con los href cuyo contenido termine en com */

li:first-child {
    background-color: burlywood;
}

li:last-child {
    background-color: cadetblue;
}

li:nth-child(3) {
    background-color: chocolate;
}

li:nth-child(even) {
    font-size: 40px;
}

/* Seleciona elementos pares */

li:nth-child(odd) {
    font-size: 10px;
}

/* Selecciona elementos impares */

li:nth-child(4n) {
    background-color: cyan;
}

li:nth-child(3n - 1) {
    background-color: darkblue;
}

/* Selecciona cada 4 elementos */
/* Se puede poner 2n + 1 o 3n - 1 para seleccionar otras cosas */

p:first-line {
    color: red;
}

p::first-letter {
    font-size: 40px;
    color: darkblue;
}

a.twitch:hover {
    background-color: darkgoldenrod;
}

a.twitch:visited {
    color: darkolivegreen;
}

/* Cuando ya visitaste un link */

a.twitch:focus {
    border: 3px solid blue;
}

/* Cuando tiene el foco con Tab */

a.twitch:active {
    border: 4px solid red;
}

/* Cuando estas clicamdo el link antes de soltarlo */

section p:target {
    border: 2px solid red;
}

/* Cuando creas anclas en HTML al clicar sobre ella se vuelve en estado target y se le puede aplicar estilos */

p::selection {
    background-color: blue;
}

/* Cuando seleccionamos con el cursor */

input::placeholder {
    color: blue; /* Con esto le damos estilos a los placeholder de los inputs del formulario */
}

strong::after {
    content: "-> after";
}

strong::before {
    content: "before ->";
}