section {
    background-color: yellow;
    width: 50vw;
    height: 50vh;

    /* Tamaño vh relacionado con el tamño de la pantalla de donde se ve la web */
    /* El vw pasa por debajo del scroll */
    /* Hay otrs medidas como el vmin y vmax que toman como referencia el valor minimo de los dos y el maximo de los dos asimilando los ejes x e y*/
}

h1 {
    background-color: pink;
    width: 10em;

    /* La medida em esta relacionada con el font size del texto */
}

h2 {
    background-color: red;
    width: 20rem;

    /* La medida rem esta relacionada con la etiqueta html raiz y el texto */
}