.caja {
  background-color: pink;
  padding: 1em;
  width: 300px;
  height: 300px;
  animation-name: prueba;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: easing;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.caja:hover {
  animation-play-state: running;
}

@keyframes prueba {
  0%, 100% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }

  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px) rotate(45deg);
  }
}
