:root {
  --ratio: 1.3;
  --small: clamp(14px, 4vw, 16px);
  --medium: calc(var(--small) * var(--ratio));
  --big: calc(var(--medium) * var(--ratio));
}
body {
  margin: 0;
}
.welcome {
  font-size: clamp(50px, 15vw, 150px);
  text-align: center;
  background-color: yellow;
}
.hola {
  width: calc(200px - 50px);
  height: 300px;
  background-color: pink;
}
.flotante {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  right: 0;
}
.small {
  font-size: var(--small);
}
.medium {
  font-size: var(--medium);
}
.big {
  font-size: var(--big);
}
