.cta {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 1em;
  border-radius: 8px;
  border: solid 5px pink;
  display: inline-block;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.cta:hover {
  background-color: black;
  color: pink;
  border-color: blue;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transform: scale(1.5);
  transition-duration: 4s;
}


.galeria {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.galeria img {
  display: block;
}
.galeria li {
  transition-property: transform, box-shadow;
  transition-duration: 1s, 0.2s;
}
.galeria li:hover {
  transform: scale(1.5);
  box-shadow: 0 5px 10px black;
  z-index: 1;
}