@import "animacion.css" print;

.caja {
  background-color: pink;
  border: solid 10px blue;
  width: 200px;
  height: 200px;
}

input[type="radio"]:checked {
  opacity: 0.5
}

@media {
  .caja {
    background-color: blue;
  }
}

@media (max-width: 800px) {
  .caja {
    border-color: pink;
  }
}