.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: yellow;
  align-items: center;
  justify-items: center;
  /* align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-evenly; */
  height: 200px;
  gap: 20px;
}
p {
  background-color: pink;
  margin: 0;
  width: 100px;
}
p:nth-child(2) {
  background-color: orange;
  justify-self: center;
  align-self: stretch;
  /* place-self: stretch center; */
}
img {
  width: 100%;
}
