body {
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr minmax(800px, 1140px) 1fr;
  grid-template-rows: 50px 400px 1fr;
  grid-gap: 20px;
}

.main-nav {
  grid-column: 2;
  grid-row: 1;
}
.main-header {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.main-footer {
  grid-column: 1 / -1;
  background-color: gray;
  margin-top: 100px;
}
.main-content {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 0.65fr 0.35fr 1fr;
  grid-auto-rows: 200px;
  grid-gap: 15px;
}
.main-content > section {
  background-color: gray;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  align-items: end;
}
.main-content > section:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}
.main-content > section:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}
.main-content > section:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
.main-content > section:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
}
.main-content > section:nth-child(5) {
  grid-column: 1;
  grid-row: 4;
}
.main-content > section:nth-child(6) {
  grid-column: 2 / 4;
  grid-row: 4;
}
