p {
  color: blueviolet;
  background-color: cornsilk;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -2px;
  text-transform: uppercase;
}