@font-face {
    font-family: 'Tipo Abril';
    src: url('fonts/Abril_Fatface/AbrilFatface-Regular.woff2') format('woff2'),
            url('fonts/Abril_Fatface/AbrilFatface-Regular.woff') format('woff');
}

/* Para definir una fuente descargada hay que indicarle un nombre interno con font-family (el que nosotros queramos) y la ruta donde esta guardada con su formato ttf */
/* El formato ttf es demasiado grande asi que podemos usar el transfonter para cambiarlo de formato como por ejemplo a woff o woff2 */
h1 {
    font-family: 'Tipo Abril', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}