@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400;800&display=swap');

h1 {
    color: red;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}