body {
  margin: 0;
}

.rejilla {
  background-color: yellow;
  display: grid;
  width: 500px;
  grid-template-columns: 100px 1fr;
  grid-auto-rows: 100px;
  grid-auto-columns: 50px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.rejilla > p {
  background-color: orange;
  margin: 0;
  border: solid 1px black;
}
.rejilla > p:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}
.rejilla > p:nth-child(2) {
  grid-column: 2;
  grid-row: 4;
}
.rejilla > p:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}
.rejilla > p:nth-child(4) {
  grid-column: 4;
  grid-row: 3;
}