@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #181818;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* Div que contiene toda la página */
.page {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* Parte de arriba */
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "header img"
                        "features features";
  
  grid-gap: 100px;
}
.top > header {
  grid-area: header;
}
.top > figure {
  grid-area: img;
  margin: 0;
}
.top > ul {
  grid-area: features;
}
.top img {
  width: 100%;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}

.first-block {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.first-block > header {
  grid-column: 1 / 3;
}