* {
    box-sizing: border-box;
}

p, h1 {
    color: red;
}

section > p {
    color: blue;
}

section + p {
    color: pink; /* aplica estilos al elemento hermano (uno solo) que esta a continuacion de un section */
}

header ~ p {
    color: blue; /* aplica estilos a los elementos hermanos que están a continuación */
}

.importante {
    background-color: yellow;
}
