body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px black;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  gap: 10px;
}
.menu {
  align-self: stretch;
}
.menu li {
  display: flex;
}
.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu a:hover {
  background-color: lightgray;
}
.logo {
  margin-right: auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tags a {
  background: lightgray;
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
}
.tags a:hover {
  background: gray;
}


.multiline {
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-evenly;
}
.multiline div {
  width: 200px;
  height: 100px;
  background-color: red;
  border: solid 1px;
}