.contenedor2 {
  background-color: pink;
  display: flex;
  justify-content: flex-start;
}
.contenedor2 > div {
  background-color: red;
  border: solid 1px black;
}
.contenedor2 > div:nth-child(1) {
  margin-left: auto;
}
.contenedor2 > div:nth-child(2) {
  
}

.contenedor {
  display: flex;
  flex-direction: row;
  background-color: orange;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contenedor p {
  background-color: yellow;
  border: solid 1px black;
  margin: 0;
}
.contenedor p:nth-child(1) {
  height: 100px;
  background-color: blue;
  flex: 1 0 100px;
}
.contenedor p:nth-child(2) {
  background-color: red;
  flex: 1 0 100px;
}

.flex-text {
  background-color: pink;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}