
li::marker {
  color: red;
}

a {
  color: green;
}

a:hover {
  color: blue;
}
a:focus {
  background: gray;
}
a:hover:focus {
  font-family: Arial;
}
a:active {
  background: black;
  color: white;
}

a[href^="https://"]:hover::after,
a[href^="http://"]:hover::after {
  content: " ⬈";
  color: blue;
  background: pink;
}


input[type="text"] {
  border: solid 4px gray;
}
input[type="text"]:hover {
  border: solid 4px black;
}
input[type="text"]:focus {
  border: solid 4px blue;
}
input[type="text"]:invalid {
  border: solid 4px red;
}

button[type="submit"]:hover {
  background: gray;
}
button[type="submit"]:focus {
  border: solid 3px black;
}

label p {
  display: none;
}
label:hover p {
  display: block;
}
section {
  display: none;
}
section:target {
  background: yellow;
  display: block;
}


p::selection {
  background-color: blue;
  color: white;
}
input[type="text"]::placeholder {
  color: red;
}


strong {
  color: blue;
}

strong::before {
  content: "before ->";
}
strong::after {
  content: "<- after";
}