.button {
  --bg-color: var(--color-primary);
  --bg-color-hover: var(--color-primary-hover);

  display: inline-block;
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: bold;
}
.button:hover {
  background-color: var(--bg-color-hover);
}

.button.is-secondary {
  --bg-color: var(--color-white);
  --bg-color-hover: var(--color-grey);
}
