.header {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.header-title {
  font-size: var(--font-size-xbig);
  letter-spacing: -4px;
  line-height: 1.1;
}
.header-intro {
  font-size: var(--font-size-normal);
  color: var(--color-text);
  line-height: 1.5;
}
.header-nav {
  color: var(--color-text);
  margin-top: 50px;
}