@font-face {
  font-family: "Tipo titulo";
  src: url("/fonts/abril.woff2") format("woff2"),
    url("/fonts/abril.woff") format("woff");
}

@font-face {
  font-family: "Carme";
  src: url("/fonts/carme.woff2") format("woff2"),
    url("/fonts/carme.woff") format("woff");
}

h1 {
  color: rebeccapurple;
  font-family: "Tipo titulo", sans-serif;
  font-size: 6rem;
  text-shadow: 7px 7px 5px rgba(255, 0, 0, 0.5);
}

p {
  font-family: "Carme";
  font-size: 3rem;
  background-color: rebeccapurple;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
