@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300&display=swap");

h1 {
  color: rebeccapurple;
  font-family: "Fredoka One", monospace;
  font-weight: 800;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
