body {
    margin: 0;
    background-color: orangered;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*minmax(0, 1fr) minmax(0, 1fr);  Con esta funcion definimos el minimo y maximo de la columna sin necesidad de aplicarlo a cada elemento. Tendria el mismo efecto que el min-width: 0;*/
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    background-color: yellow;
/*     align-items: center; */
    align-content: center;
/*     justify-items: center; */
    justify-content: space-evenly;
    place-items: center center;  /* Es lo mismo que lo anterior aplicado a items */
    height: 600px;
    /* _Diferencia entre auto-fit y auto-fill: Con fit crea tantas columnas como elementos tenga independientemente del tamaño asignado 
                                                Con fill genera tantas columnas segun el tamaño del dispositivo o ventana (recomendado) */
}

p {
    background-color: orchid;
    border: 1px solid black;
    width: 150px;
    /* width: min-content; /* Tamaño minimo del elemento para que no se salga el texto fuera */
    /* width: max-content;  Tamaño maximo del elemento para que no se salga el texto fuera*/
    min-width: 0px;  /* Con esto el tamaño de las columnas grid parten desde el mismo tamaño y crecen en el mismo sin importar el tamaño del contenido de una de las columnas */
}

p:last-child {
    align-self: stretch;
    justify-self: end; /* Con esto le aplicamos grid al elemento en si */
    /* place-self: stretch center; */
}

p > img {
    width: 100%;
}
