.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.tags a {
    background: lightgray;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
}

.contenedor2 {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
}

.contenedor2 > div {
    background-color: red;
    border: 1px solid black;
}

.contenedor2 > div:nth-child(1) {
    margin-right: auto;
}
.contenedor2 > div:nth-child(2) {
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar ul {
    display: flex;
    align-self: stretch;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: flex;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    background-color: lightgrey;
}

.logo {
    margin-right: auto;
}
