.contenedor {
    display: flex;
    background-color: orange;
    align-items: flex-end;
}

p {
    background-color: yellow;
    border: 1px solid black;
    margin: 0;
    width: 100px;
}

.contenedor p:nth-child(2) {
    order: -1;  /* Por defecto todos los elementos tienen el order: 0; */
}

.contenedor p:nth-child(1) {
    order: 1;  /* Por defecto todos los elementos tienen el order: 0; */
}

/* En la pagina estan colocados asi -1 0 0 1 */
/* Si tienen la misma posicion sigue el orden de HTML */

.contenedor2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: orange;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor2 p {
    background-color: yellow;
    border: 1px solid black;
    margin: 0;
}

.contenedor2 p:nth-child(1) {
    background-color: blue;
    border: 1px solid black;
    margin: 0;
    flex-grow: 1; /* Coge el espacio sobrante si lo hay. Por defecto tienen todos el valor 0 */
    flex-basis: 100px; /* Cuando tien el flex-grow igual, pero distinto tamaño de contenido base, no crecen en el mismo tamaño. Para ello se utiliza flex-basis en los elementos con el mismo flex-grow 
                            para que crezcan lo mismo a partir de la base señalada. Lo mismo pasa con el shrink (al encoger) */
                        /* flex: grow shrink basis  --> Ej: flex: 1 0 100px; */
}

.contenedor2 p:nth-child(2) {
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    margin: 0;
    flex-grow: 1; /* Si hay dos elementos con el flex-grow igual se reparten a mitas el espacio sobrante */
                    /* Si uno es mayor que el otro Coge mas espacio sobrante que el otro. */
    flex-basis: 100px;
}

.contenedor2 p:nth-child(3) {
    background-color: blue;
    border: 1px solid black;
    margin: 0;
    flex-shrink: 0; /*Por defecto todos los elementos tienen el valor 1. Asi que poniendole el valor 0 le impedimos al elemento encogerse, por ejemplo cuando hacemos la web en formato movil.*/
}